<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="imu_sensor_joint" type="fixed">
        <axis xyz="0 0 0" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="body_link"/>
        <child link="imu_sensor_link"/>
    </joint>
     
    <link name="imu_sensor_link">
    	<visual>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.02 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.02 0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.00000015" ixy="0" ixz="0" iyy="0.00000015" iyz="0" izz="0.00000015" />
        </inertial>
    </link>
    
</robot>
